node_modules
.DS_Store
dist
.next
.turbo
.expo
.env
.env.*
coverage
pnpm-lock.yaml
yarn.lock
package-lock.json
!packages/mobile/package-lock.json
tmp
*.log
.vercel
.vscode
log/
microvisecrm-mobile/
microvisecrm-mobile-backup/
packages/mobile/.home
packages/mobile/.expo
packages/mobile/ios/Pods
packages/mobile/ios/build
packages/mobile/android/build
packages/mobile/android/app/build
